.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

#results {
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.product-type {
    order: 1;
}

#brand {
    order: 2;
}