* {
    box-sizing: border-box;
}

hidden {
    display: none;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    color: #fbfefb;
}

/* header styling */
header {
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: #fbfefb;
}

h2 {
    text-align: center;
}

/* Body styling */
body {
    background-color:black;
}

/* Image styling */

#img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Form styling */
.formWrapper {
    background-color: black;
    list-style-type: none;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: #fbfefb;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.form-row >label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: .5em;
}

#submit-btn {
    background-color: black;
    color: #fbfefb;
    border-style: solid;
    border-width: thin;
    border-color: #fbfefb;
}

/* results styling */


#results-list{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
    list-style-type: upper-roman;
    font-size: 12px;
}

#results {
    /* background-color: hotpink; */
    height: 400px;
    width: 200px;
}

.each-product-result {
    padding: 7px;
    /* background-color: gray; */
    width: 200px;
    /* display: inline-flexbox;
    flex-direction: row; */
}

/* .each-product-result > .product-name {
    font-size: 20px;
    width: 200px;
} */

.each-product-result > .product-img {
    height: 150px;
    width: 150px;
}

/* .each-product-result > .product-price {
    font-size: 10px;
    width: 200px;
} */

.each-product-result > .product-description {
    font-size: 12px;
    width: 200px;
}

/* .product-name {
    padding: 5px; 
    font-size: 75%;
    height: 20px;
    width: 300px;
}

.product-img {
    padding: 5px;
    height: 100px;
    width: 100px;
}

.product-price {
    padding: 5px;
    height: 20px;
    padding: 5px;
}

.product-description {
    padding: 5px;
    height: 200px;
    width: 300px;
    font-size: 50%;
    
}
 */



