.hidden {
    display: none;
}

#results {
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}


