.hidden {
    display: none;
}

#results {
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.search-term {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center, space-around;
}