.hidden {
    display: none;
}

#results {
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start ;
    justify-content: space-between;
}





