* {
    box-sizing: border-box;
}

hidden {
    display: none;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
}

/* header styling */
header {
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

h2 {
    text-align: center;
}

/* Body styling */
body {
    background-color: white;
}

/* Image styling */

#img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Form styling */
.formWrapper {
    background-color: white;
    list-style-type: none;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: #fbfefb;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.form-row >label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: .5em;
}

#submit-btn {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

/* results styling */


#results-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* list-style-type: upper-roman; */
    font-size: 12px;
}
/* 
#results {
    height: 400px;
    width: 200px;
} */

.each-product-result {
    padding-left: 7px;
    list-style-type: none;
    background-color: white;
    
    border-style: solid;
    border-width: thin;
    width: 200px;
    /* display: inline-flexbox;
    flex-direction: row; */
}

.each-product-result > .product-name {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    width: 160px;
}

.each-product-result > .product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.each-product-result > .product-price {
    font-style: italic;
}

.each-product-result > .product-description {
    font-size: 12px;
    font-weight: lighter;
    width: 180px;
}


